<form>
    <fieldset>
        <legend>Filter by date</legend>
        <input class="filter start" type="text" value="Start Date: <%= moment().subtract('d', 14).format('YYYY-MM-DD') %>" placeholder="Start Date"/>
        <input class="filter end" type="text" value="End Date: <%= moment().subtract('d', 7).format('YYYY-MM-DD') %>" placeholder="End Date"/>
    </fieldset>
    <select data-placeholder="Apply filters" class="chosen-select" multiple>
        <option value=""></option>
        <optgroup label="Primary Crime Type">
            <option value="THEFT">Theft</option>
            <option value="BATTERY">Battery</option>
            <option value="CRIMINAL DAMAGE">Criminal Damage</option>
        </optgroup>
    </select>
</form>
