<div class="twelve columns">
    <h1 class="light"><%= typeof violent !== 'undefined' ? violent : 0 %></h1>
    <h5 class="light">Violent crimes</h5>
</div>
<div class="twelve columns">
    <h1 class="light"><%= typeof property !== 'undefined' ? property : 0 %></h1>
    <h5 class="light">Property crimes</h5>
</div>
<div class="twelve columns">
    <h1 class="light"><%= typeof quality !== 'undefined' ? quality : 0 %></h1>
    <h5 class="light">Quality of life crimes</h5>
</div>
